@media (max-width: 769px) {
    main .character .image {
        height: 85%;
    }

    .content {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px;
    }

    .content .character-name {
        font-size: 36px;
    }

    .content .descritption {
        max-width: 500px;
    }

    .buttons {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    .buttons .button img {
        max-width: 38px;
        max-height: 38px;
    }
}

@media (max-width: 425px) {
    main .character .image {
        height: 80%;

    }

    .content .logo {
        width: 180px;
        height: 180px;
    }
    
    .content {
        top: -25%;
    }

    .content .caracter-name {
        font-size: 20px;
    }

    .buttons {
        padding: 10px;
        top: -20%;
    }

    .buttons .button img {
        max-width: 32px;
        max-height: 32px;
        justify-content: center;
    }
    
    .buttons .button.select {
        max-width: 32px;
        max-height: 32px;
    }
}